@font-face{
    font-family: 'Playfair Display', serif;
     
}
.container{
    width: 1200px;
    margin: auto;
}
.menu{
    display: block;
    text-align: center;
}
.menu-item{
    margin: 50px;
    display: inline-block;
}
.menu-item a{
    font-family: PlayfairDisplay-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 18.6px;
    color: rgba(98, 98, 98, 255);
    text-align: center;
    text-decoration: none;

}
.menu-item a:hover{
    color: #03a9f4;
}
.blocks{
    display: block;
    margin-left: 150px;
}
.block1, .block2, .block3, .block4, .block5, .block6{
    width: 420px;
    display: inline-block;
    padding-top: 39px;
}
.block3, .block4{
    padding-top: 112px;
}
.block5, .block6{
    padding-top: 119px;
}
.block2, .block4, .block6{
    margin-left: 56px;
}
.caption{
font-size: 25pt;
color: rgba(98, 98, 98, 255);
text-align: left;
}
p{
font-size: 15px;
color: rgba(180, 173, 158, 255);
text-align: left;
}
.life{
    font-family: Ubuntu-Light, AdobeInvisFont, MyriadPro-Regular;
    font-size: 14.1px;
    color: rgba(180, 173, 158, 255);
    text-align: left;
    padding-top: 11px;
    height: 0px;
}
p .text{
font-size: 14pt;
color: rgba(98, 98, 98, 255);
text-align: left;
}
button{
    font-family: PlayfairDisplay-Regular, AdobeInvisFont, MyriadPro-Regular;
font-size: 15pt;
color: rgba(98, 98, 98, 255);
    height: 60px;
    width: 164px;
   display:block;
   position: relative;
   border: 1px solid black;
   margin:0 auto; 
}
a{
    text-decoration: none;
}
footer{
    display: block;
    padding-top: 50px;
}