*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: auto;
}
nav{
    padding-top: 60px;
}
ul{
    text-align: center;
}
img{
    display: block;
}
.menu-item{
    padding: 47px;
    display: inline-block;
}
.menu-item a{
    font-family: Playfair Display;
    font-size: 16px;
    color: rgba(98, 98, 98, 255);
    text-align: center;
    text-decoration: none;

}
.menu-item a:hover{
    color: #7cc8f8;
}
.blocks{
    text-align: center;
    padding-top: 50px;
    letter-spacing: -.36em;
}

.block{
    width: 420px;
    display: inline-block;
    letter-spacing: 0;
    word-spacing: 0;
    
}

.block:nth-child(n+3){
    padding-top: 127px;
}
.block:nth-child(odd){
    margin-right: 60px;
}
.block:nth-child(n+5){
    padding-top: 132px;
}
.caption{
font-size: 33px;
color: rgba(98, 98, 98, 255);
text-align: left;
padding-top: 22px;
}
p{
font-size: 15px;
color: rgba(180, 173, 158, 255);
text-align: left;
}
.life{
    font-family: Ubuntu;
    font-size: 14px;
    color: rgba(180, 173, 158, 255);
    padding-top: 28px;
}
.text{
    font-family: Playfair Display;
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    margin-top: 25px;
    line-height: 25px;
}
button{
    font-family: Playfair Display;
    font-size: 15pt;
    color: rgba(98, 98, 98, 255);
    height: 60px;
    width: 164px;
   display:block;
   position: relative;
   border: 1px solid black;
   margin: 1px auto; 
   background: white;
}
a{
    text-decoration: none;
}
footer{
    display: block;
    padding-top: 47px;
    padding-bottom: 10px;
}