* {
    margin: 0 auto;
    padding: 0;
}
header{
    width: 1120px;
    overflow: hidden;
    padding-top: 40px;
}
.logo{
    font-family: Roboto;
    font-size: 24pt;
    float: left;
    font-weight: 300;
}
.logo:first-letter{
    color: rgba(26, 188, 156, 255);
    font-weight: bold;
}
nav{
    float: right;
}
ul{
    text-align: center;
    list-style-type: none;
}
li{
    display: inline-block;
    margin: 9px;
    font-family: OpenSans, sans-serif;
    font-size: 10pt;
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
    
}
.link-logo{
    text-decoration: none;
    color: black;
}

.link-logo:hover{
    color: rgba(26, 188, 156, 255);
}
h1{
    text-align: center;
    font-family: Roboto;
    font-size: 36pt;
    color: rgba(81, 81, 81, 255);
    padding-bottom: 20px;
}
h1::after{
    display: block;
    content: " "; 
    background-color: rgba(26, 188, 156, 255);
    width: 164px;
    height: 7px;;
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;
}
.latestnews{
        text-align: center;
        font-family: Roboto;
        font-size: 36pt;
        color: rgba(81, 81, 81, 255);
        padding-bottom: 20px;
        padding-top: 45px;
}
.latestnews::after{
        display: block;
        content: " "; 
        background-color: rgba(26, 188, 156, 255);
        width: 164px;
        height: 7px;;
        text-align: center;
        margin: 0 auto;
        margin-top: 16px;
    }
.container{
    width: 1120px;
    margin: 0 auto;
    padding: 88px;
    
}
.blocks{
    list-style: none;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 75px;
}
.clear:after {
    content: "";
    display: table;
    clear: both;
}
.block{
    display: block;
    float: left;
    width: 255px;
    height: 322px;
    text-align: center;
    margin-right: 30px;
}
.block:nth-child(4){
    margin-right: -30px;
}
.block:nth-child(8){
    margin-right: -30px;
}
.block:nth-child(n+5){
    margin-top: 30px;
}
img{
    display: block;
    margin: 0 auto; 
}
.img{
    overflow: hidden;
    height: 40px;
}
p.imgtext{
    float: left;
    background: #323232;
    width: 201px;
    height: 40px;
    text-align: left;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
    text-indent: 1em;
}
p.imgtext::before{
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}
p.price{
    font-family: Roboto;
    font-size: 17px;
    text-align: center;
    display: inline-block;
    background: #8c8c8c;
    color: white;
    height: 40px;
    width: 54px;
    margin: 0 auto;
}
p.price::before{
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}
.img_click:hover p.imgtext{
   background-color: #1abc9c;
}

.img_click:hover p.price{
   background-color: #7fd9c7;
}
.blocks2{
    text-align: center;
    overflow: hidden;
    margin: 0 -20px 0 0;
    padding-top: 63px;
    
}
.block2{
    width: 350px;
    float: left;
    margin-right: 30px;
}
.block2:last-child{
    margin-right: -30px;
}
h2{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    color: rgba(85, 82, 82, 255);
    text-align: left;
    padding-top: 10px;
}
h2::after{
    display: block;
    content: " "; 
    background-color: rgba(26, 188, 156, 255);
    width: 136px;
    height: 3px;
    margin-top: 12px;
}

.lasttext{
    font-family: Open Sans;
    font-size: 12px;
    color: rgba(85, 82, 82, 255);
    text-align: left;
    padding-top: 28px;
    line-height: 23px;
}
button{
    font-family: PlayfairDisplay;
    font-size: 13pt;
    color: white;
    height: 50px;
    width: 158px;
    background: rgba(26, 188, 156, 255);
    float: left;
    margin-top: 13px;
    border: none;
    
}
